$square-size: calc(80vh / 8);

.board {
  border-collapse: seperate;
  border-spacing: 0;
  border: 5vh #56452d solid;
  margin: 5vh auto;
}

.board__square {
  background-color: #f9f8f7;
  height: $square-size;
  width: $square-size;
  padding: 0;
}

.board__rank:nth-child(even) {
  .board__square:nth-child(odd) {
    background-color: #332d23;
  }
}

.board__rank:nth-child(odd) {
  .board__square:nth-child(even) {
    background-color: #332d23;
  }
}
